/* typography */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

/* demo styles */

.content {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 25px;
  justify-content: space-around;
  justify-items: center;
}

.section-heading {
  grid-column: 1;
  text-align: center;
  font-size: 2.5rem;
}

.content[fill-up-medium] {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 5%;
}

.content[fill-up-medium] .section-heading {
  grid-column: 1 / span 2;
  text-align: center;
  font-size: 2.5rem;
}


.resize-area {
  resize: horizontal;
  overflow: auto;
  padding: 1rem;
  border: 1px dashed silver;
  margin: 5rem auto;
  width: 250px;
}

.resize-area > * {
  margin: auto;
}

/* components */

/* github card */
.github-card {
  width: 100%;
}

/* github card / horizontal */
.github-card-horizontal .github-repo-and-user {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid black;
}

.github-card-horizontal main {
  font-size: 1.25rem;
  display: flex;
  flex-wrap: wrap;
}

.github-card-horizontal main > * {
  /* border: 1px solid blue; */
  margin-bottom: 2rem;
  margin-right: 4rem;
  border-left: 2px solid black;
  padding: 0.5rem 1rem;
}

.github-card-horizontal label {
  display: block;
  font-family: monospace;
  letter-spacing: 0.15rem;
  font-size: 1.5rem;
}

/* github card / vertical */
.github-card-vertical .github-repo {
  font-size: 3rem;
  line-height: 0.9;
}

/* github card / vertical */
.github-card-vertical .github-repo {
  font-size: 3rem;
  line-height: 0.9;
}

.github-card-vertical header {
  border-bottom: 1px solid silver;
  padding-bottom: 1rem;
}

.github-card-vertical main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.github-card-vertical main > * {
  display: flex;
  width: 50%;
  height: 3rem;
  align-items: center;
  border-bottom: 1px dashed silver;
  padding: 0.75rem 0;
}

.github-card-vertical .github-by {
  color: gray;
  font-style: italic;
  font-family: serif;
  font-size: 1.25rem;
  margin-right: 1rem;
}

.github-card-vertical .github-user {
  font-size: 2rem;
  color: blue;
}

.github-card-vertical .description {
  font-family: monospace;
  font-size: 1.5rem;
}

.github-card-vertical .github-stars {
  width: 100%;
}

/* github-card / language */
.github-card-programming-language {
  display: flex;
  align-items: center;
}

.github-card-programming-language .language-label {
  margin-left: 1rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.github-card-programming-language .language-color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.github-card-programming-language .language-color-yellow {
  background-color: yellow;
}

.github-card-programming-language .language-color-purple {
  background-color: rebeccapurple;
}

.github-card-programming-language .language-color-red {
  background-color: red;
}

.github-card-programming-language .language-color-darkred {
  background-color: darkred;
}

.github-card-programming-language .language-color-teal {
  background-color: teal;
}

.github-card-programming-language .language-color-silver {
  background-color: silver;
}

/* weather */
.weather {
  width: 100%;
}

.weather .temp {
  color: gray;
  font-size: 1.1em;
}

.weather .city {
  font-size: 0.85em;
}

.weather .bottom-drawer {
  font-size: 0.65em;
}

.weather.cold .bottom-drawer {
  color: blue;
}

.weather.hot .bottom-drawer {
  color: red;
}

/* article */
.article {
  padding: 1rem 0;
  max-width: 900px;
}

.article .on {
  font-style: italic;
  font-family: serif;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
  line-height: 35px;
  text-align: center;
  display: inline-block;
}

.article .title {
  font-size: 1.75rem;
  line-height: 1.5rem;
}

.article .author {
  margin-top: 0.5rem;
}

.article .date {
  margin: 1rem 0;
}

/* article medium */
.article[fill-up-medium] .on {
  border: 3px dashed black;
  background-color: white;
  color: black;
}

.article[fill-up-medium] .formatted-date {
  text-decoration: underline;
  margin-left: 1rem;
}

.article[fill-up-medium] .author {
  font-weight: bold;
  font-size: 1.5rem;
}

/* article large */
.article[fill-up-large] {
  font-size: 1.25rem;
}

.article[fill-up-large] .title {
  text-align: center;
}

.article[fill-up-large] .author {
  text-align: center;
}

.article[fill-up-large] .by {
  text-decoration: underline;
  margin-right: 1rem;
}

.article[fill-up-large] .author-name {
 text-align: center;
 letter-spacing: 0.2rem;
}

.article[fill-up-large] .date {
  margin-top: 0.5rem;
  text-align: center;
}

.article[fill-up-large] .on {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.25rem;
}

.article[fill-up-large] .post::first-letter {
  font-size: 3rem;
  font-weight: bold;
  border: 1px solid black;
  padding: 0 0.75rem;
  margin-right: 0.25rem;
}