<div class={{concat "ember-fill-up" " " this.classNames " " breakpointClassNames}}
  {{fill-up onChange=(action this.onElementChange)}} ...attributes>
  {{yield (hash
    width=this.width
    height=this.height
    breakpoints=this.breakpointsMap
    element=this.fillUpElement
  )}}
</div>