<header></header>
<main>
  <FillUp
    class="content"
    @breakpoints={{hash
      medium=(fill-up-gt 750 label)
    }}
  >
    <h1 class="section-heading">Weather around the world</h1>
    <Weather />
    <Weather />
    <Weather />
    <Weather />
    <Weather />
    <Weather />

    <h1 class="section-heading">Featured github repos</h1>
    <GithubCard />
    <GithubCard />
    <GithubCard />
    <GithubCard />
    <GithubCard />
    <GithubCard />

    <h1 class="section-heading">The latest news</h1>
    <Article />
    <Article />
    <Article />
    <Article />
    <Article />
  </FillUp>
</main>
<footer></footer>