<header></header>
<main>
  <FillUp
    class="content"
    @breakpoints={{array
      (fill-up-gt 750 label="medium")
    }}
  >
    <h1 class="section-heading">Weather around the world</h1>
    <Weather />
    <Weather />
    <Weather />
    <Weather />
    <Weather />
    <Weather />

    <h1 class="section-heading">The latest news</h1>
    <Article />
    <Article />
    <Article />
    <Article />
    <Article />
  </FillUp>
</main>
<footer></footer>