<header></header>
<main>
  <FillUp
    class="content"
    @breakpoints={{array
      (fill-up-gt 750 label="medium")
    }}
  >
    <Article />
    <Article />
    <Article />
    <Article />
    <Article />
  </FillUp>
</main>
<footer></footer>