<div class="resize-area">
  <Weather />
</div>

<div class="resize-area">
  <GithubCard />
</div>

<div class="resize-area">
  <Article />
</div>

<div class="demo-volume-bottom-margin">
  <div class="resize-area vertical">
    <Volume/>
  </div>
</div>